[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/xyin014/hugo-classic.git
